.forgot-p {
    color: #7A86A1;
    font-size: 1.2rem;
}

.forgot-content-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20rem 5rem 15rem;
}

.back-link {
    margin-right: 19.5rem;
    margin-top: 3rem;
    cursor: pointer;
    margin-left: 5px;
    color: #606DE2;
    text-decoration: none;
    font-weight: 600;
}

.backLink-box img {
    cursor: pointer;
}

.backLink-box {
    display: flex;
    align-items: baseline;
}