.forgot-main-container {
    width: 100%;
}

.forgot-inner-box {
    margin: 0% !important;
    padding: 0% !important;
}

.forgot-img-container {
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../assets/Images/cart.png);

}

.forgot-p {
    color: #7A86A1;
    font-size: 1.2rem;
}

.forgot-content-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20rem 5rem 15rem;
}

.back-link {
    margin-right: 20rem;
    margin-top: 3rem;
    cursor: pointer;
    color: #606DE2;
    text-decoration: none;
    font-weight: 600;
}