.side_bar {
    width: 25%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.sidebar-main-logo {
    display: flex;
    justify-content: center;
}

.sidebar-pic-box {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.close-icon {
    height: 3rem;
    width: 2rem;
    display: flex;
    margin-left: 2rem;
    font-size: 2.5rem;
    /* display: none; */
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid;
    background-color: transparent;
    border-color: rgb(238, 239, 239);

}


.sidebar-main-logo img {
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
}

.sidebar-btn {
    margin-top: 35rem;
    margin-bottom: 4rem;
}

.side-bar-container {
    width: 60%;
}

.sidebar-btn-container {
    display: flex;
    flex-direction: column;
}

.btns {
    margin-top: 2rem;
    font-size: 1.2rem;
    height: 3.2rem;
    border-radius: 4px;
    border: none;
    display: flex;
    align-items: center;
    background-color: #FFF;
}

.active-btn {
    margin-top: 2rem;
    font-size: 1.2rem;
    height: 3.2rem;
    border-radius: 4px;
    color: #FFF;
    border: none;
    display: flex;
    align-items: center;
    background-color: #FF780A;

}

.side_bar--display {
    display: none;

}

.sidebar-btn-container button img {
    height: 1.7rem;
    margin-right: 0.55rem;
}

@media(max-width : 1020px) {
    .side_bar {
        width: 15%;
    }

    .side-bar-container {
        width: 90%;
    }

    .response {
        font-size: 0;
        display: flex;
        justify-content: center;
    }


}

@media(max-width : 505px) {
    .side_bar {
        display: none;
    }

    .side_bar--display {
        display: block;
    }
}