.dashBoard_container {
    display: flex;
}

.dashBoard-nav-bar {
    display: flex;
    align-items: center;
}


.dashboard-home {
    font-size: 1.6rem;
    font-weight: 600;
}



.dashBoard-box1 {
    width: 68.5%;
}

.home-img-box {
    margin-top: 2rem;
}

.homepage-graph-img {
    width: 100%;
}

.col-box {
    display: flex;
}

.bigCard_headings {
    display: flex;
    justify-content: space-between;
}

.dashBoard_bigCard {
    height: 40.2rem;
    width: 97%;
    background-color: #fff;
    padding: 2rem;
}

.homepage-box2 {
    display: flex;
    justify-content: end;
    margin-top: 2rem;
    width: 31.5%;

}

.bigCard_headings-p1 {
    font-size: 1.7rem;
}

.bigCard_headings-p2 {
    font-size: 1.4rem;
    color: #999999;
}

.bigCard_headings-menu {
    font-size: 3rem;
    color: #999999;
}

.ellipse-1 {
    position: absolute;
}



.ellipse-para {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
}

.bigCard_graph {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.dashBoard_label {
    width: 100%;
    display: flex;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.dashBoard_label span {
    font-size: 2rem;
}

.dashBoard_label p {
    font-size: 1.3rem;
    margin-top: 1rem;
    color: #999999;
}

.dasBoard_dot1 {
    color:
        #5372E7;
}

.dasBoard_dot2 {
    color: #FF9F24;
}