.complete-btn {
    height: 2.1rem;
    width: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #21BDCA;
    background-color: #E8FFF8;
    border-radius: 0.9rem;
    font-size: 1rem;
    border: none;
}

.complete-btn--Pending {
    background-color:
        #FFEEEE !important;
    color: #FF9F24 !important;
}

.complete-btn--Completed {
    background-color: #a3e7a9;
    color:
        #16A124;
}

.complete-btn--Processing {
    background-color: #FBEDD3;
    color: #F5A70F;
}

.complete-btn--Cancel {
    background-color: #FDD7D4;
    color: #E85448;
}