.signIn-main-container {
    width: 100%;
    position: relative;
}


.signIn-inner-box {
    margin: 0% !important;
    padding: 0% !important;
}

.signIn-img-container {
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../assets/Images/cart.png);
    position: relative;

}