.homePage_container {
    display: flex;
}

.homepage-nav-bar {
    display: flex;
    align-items: center;
}

.show-icon {
    font-size: 4rem;
    margin-right: 2rem;
    display: none;

}

.dashboard-home {
    font-size: 1.6rem;
    font-weight: 600;
}



.homepage-box1 {
    width: 68.5%;
}

.home-img-box {
    margin-top: 2rem;
}

.homepage-graph-img {
    width: 100%;
}



@media(max-width: 1040px) {
    .show-icon {
        display: block;
    }


}