.homePage_container {
    display: flex;
}

.homepage-nav-bar {
    display: flex;
    align-items: center;
}

.show-icon {
    font-size: 2.5rem;
    margin-right: 2.2rem;
    font-weight: 700;
    cursor: pointer;
    border: 1px solid;
    border-color: rgb(238, 239, 239);

}

.dashboard-home {
    font-size: 1.6rem;
    font-weight: 600;
}



.homepage-box1 {
    width: 68.5%;
}

.home-img-box {
    margin-top: 2rem;
}

.homepage-graph-img {
    width: 100%;
}