.order_headingText {
    font-size: 1.6rem;
    font-weight: 600;
    margin-right: 3rem;
}

.order_profileContainer {
    display: flex;
    justify-content: space-between;
}

.orderTable_threeDotsBar {
    font-size: 1.9rem;
    margin-right: 2rem;
    cursor: pointer;
    font-weight: 700;
    width: 1rem;
}

.orderTable_threeDotsBarContainer {
    display: flex;
    justify-content: end;
}