.order_headingText {
    font-size: 1.6rem;
    font-weight: 600;
    margin-right: 3rem;
}

.order_profileContainer {
    display: flex;
    justify-content: space-between;
}

.orderTable_menuBar {
    display: flex;
    justify-content: end;
    margin-right: 3rem;
    font-size: 1.9rem;
    cursor: pointer;
    font-weight: 700;
}